<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
    <section name="xlinq" type="PPD.XLinq.ConfigSection,PPD.XLinq"/>
  </configSections>
  <connectionStrings>
    <add name="test" connectionString="Data Source=(local);Initial Catalog=ppdai;integrated security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <xlinq connectionStringName="test" sequenceTable="Seqs" dataBase="SqlServer2008R2" dbFactoryName="System.Data.SqlClient"></xlinq>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
